#body_{
    background-color: dimgrey;
}
.rectangel{
    background-color: dimgrey;
    height: 275px;
    width: 250px;
    position: absolute;
    left: 30%;
    top: 20%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 5px 10px 70px rgba(0,0,0,0.75), 
     10px 10px 70px rgba(0,0,0,0.25), 
     inset 5px 5px 10px rgba(0,0,0,0.5),
     inset -5px -5px 15px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.rectangel:hover{
    height: 400px;
}
.date{
    position: absolute;
    height: 20%;
    width: 90%;
    bottom: 5%;
    left:5%;
    display: flex;
    justify-content: center;

}
.day{
    position: absolute;
    height: 20%;
    width: 90%;
    bottom: 10%;
    left:5%;
    display: flex;
    justify-content: center;

}
.date span{
    color: rgb(65, 59, 59);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 60%;
    font-size: 15px;
}
.digital_clock{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width:90%;
    height: 10%;
    display: flex;
    justify-content: center;
}
._h{
    position: absolute;
    left: 6%;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 2px 2px rgba(127, 216, 243, 0.75),
     5px 5px rgba(127, 216, 243, 0.25),
     inset 2px 2px rgba(127, 216, 243, 0.75),
     inset 5px 5px rgba(127, 216, 243, 0.25);
}
._m{
    position: absolute;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 2px 2px rgba(108, 102, 238, 0.75),
     5px 5px rgba(108, 102, 238, 0.25),
     inset 2px 2px rgba(108, 102, 238, 0.75),
     inset 5px 5px rgba(108, 102, 238, 0.25);
}
._s{
    position: absolute;
    left: 72%;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    box-shadow: 2px 2px rgba(251, 98, 121, 0.75),
     5px 5px rgba(251, 98, 121, 0.25),
     inset 2px 2px rgba(251, 98, 121, 0.75),
     inset 5px 5px rgba(251, 98, 121, 0.25);
}
.rectangel span b{
    font-size: 30px;
    color:antiquewhite;
    opacity: 50%;
}
.circle{
    background-color: dimgrey;
    height: 250px;
    width: 250px;
    position: absolute;
    left: 30%;
    top: 20%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.75), 
     10px 10px 70px rgba(0,0,0,0.25), 
     inset 5px 5px 10px rgba(0,0,0,0.5),
     inset -5px -5px 15px rgba(0,0,0,0.75);
}
.circle::before{
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    top:50%;
    
}
.circle::before{
    transform: translateY(-50%);
}
.circle span{
    color:antiquewhite;
    inset: 5px;
    text-align: center;
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));/* 360/12= 30deg */
}
.circle span b{
    opacity: 30%;
    font-size: 25px;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}
.hand_s{
    position: absolute;
    border: 2px solid black;
    height: 70%;
    width:70%;
    border-radius: 100%;
    top:50%;
    opacity: 50%;
}
.hand_s{
    transform: translateY(-50%);
}
.hand_m{
    position: absolute;
    border: 2px solid black;
    height: 60%;
    width:60%;
    border-radius: 100%;
    top:50%;
    opacity: 50%;
}
.hand_m{
    transform: translateY(-50%);
}
.hand_h{
    position: absolute;
    border: 2px solid black;
    height: 50%;
    width:50%;
    border-radius: 100%;
    top:50%;
    opacity: 50%;
}
.hand_h{
    transform: translateY(-50%);
}
.hand {
    display: flex;
    justify-content: center;
}
.hand i{
    width: 2%;
    height: 30%;
    position: absolute;
    background-color: var(--clr);
    top:50%;
    border-radius: 50%;
}
.hand i{
    transform: translateY(-75%);
}
.hand b{
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    border: 3px solid var(--clrh);
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 0 10px rgba(255,255,255,1) ,
     0 0 20px rgba(255,255,255,1) ,
     0 0 30px rgba(255,255,255,1) ,
     0 0 40px var(--clrh) ,
     0 0 70px var(--clrh) ,
     0 0 80px var(--clrh) ,
     0 0 100px var(--clrh) ;
}